<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>@ViewData["Title"] - Angelus T Blog</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Owl Magnific Min CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Boxicons Min CSS -->
    <link rel="stylesheet" href="~/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="~/css/nice-select.min.css">
    <!-- tinymce JS -->
    <script src="https://cdn.tiny.cloud/1/i0yiaqj0e7qsakuz4uz3xpiotde91d3le117i33p2fe5dlq7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/img/favicon.png">
</head>
<body>
    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-area-two">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a asp-controller="Home" asp-action="Index" class="logo">
                <img src="~/img/logo.png" alt="Logo">
            </a>
            <div class="middle-menu-two">
                <partial name="_LoginPartial">
            </div>
        </div>

        <!-- Start Header Area -->
        <div class="middle-header">
            <div class="container-fluid">
                <div class="collapse navbar-collapse mean-menu">
                    <div class="row">

                        <div class="col-lg-1 col-md-1 m-auto ">
                            <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">
                                <img class="mainLogo" src="~/img/logo.png" alt="Logo">
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 m-auto">
                            <div class="middle-menu-one">
                                <ul>
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Blogs" asp-action="AllBlogs">Blogs</a> 
                                    </li>
                                    <li>
                                        <a asp-controller="Posts" asp-action="SearchIndex">Posts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a target="_blank" href="https://angelustaylor.com/">Author</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 m-auto">
                            <div class="others-option">
                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form" asp-action="SearchIndex" asp-controller="Posts">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <input type="text" name="SearchTerm" class="form-control search-input" placeholder="Search">
                                                </div>
                                                <div class="col-lg-3">
                                                    <button class="search-button default-btn btn-two col-lg-3" type="submit"><i class="bx bx-search"></i></button>
                                                </div>
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 m-auto">
                            <div class="middle-menu-two partial">
                                <partial name="_LoginPartial">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Header Area -->
    <!-- Main Body Start -->
    <section class="blog-details-area">
        <div class="container-fluid">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </section>
    <!-- Main Body End -->
    <!-- Start Footer Area -->
    <footer class="footer-top-area pt-100">
        <!-- Start Footer Top Area -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget text-center">
                        <a href="index.html">
                            <img class="mainLogo" src="~/img/logo.png" alt="Image">
                        </a>

                        <p>
                            I am currently building my blog from scratch. I am using C#, .NET 5, asp.net VNC, javascript also Bootstrap 5 This will be done by end of this week. My blog covers a lot of the unknowns of Data structures and Algorithms. It will help new devs like myself to be more confident when facing coding interviews.
                        </p>

                        <div class="social-area">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Important Links</h3>

                        <ul>
                            <li>
                                <a href="author.html">
                                    <i class="bx bx-chevrons-right"></i>
                                    Author
                                </a>
                            </li>
                            <li>
                                <a href="gallery.html">
                                    <i class="bx bx-chevrons-right"></i>
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="video.html">
                                    <i class="bx bx-chevrons-right"></i>
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Privacy">
                                    <i class="bx bx-chevrons-right"></i>
                                    Privacy
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="bx bx-chevrons-right"></i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Featured</h3>

                        <ul>
                            <li>
                                <a href="#">
                                    <i class="bx bx-chevrons-right"></i>
                                    It Management
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx-chevrons-right"></i>
                                    Development
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx-chevrons-right"></i>
                                    Featured
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx-chevrons-right"></i>
                                    UI/UX Design
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx-chevrons-right"></i>
                                    Support Engineer
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-widget contact">
                        <h3>Get In Touch</h3>

                        <ul>
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <span>Hotline:</span>
                                <a href="tel:+61-821-456">
                                    +61-821-456
                                </a>
                            </li>

                            <li>
                                <i class="bx bx-envelope"></i>
                                <span>Email:</span>
                                <a href="mailto:hello@Linka.com">
                                    hello@Linka.com
                                </a>
                            </li>

                            <li>
                                <i class="bx bx-location-plus"></i>
                                <span>Address:</span>
                                123, Western Road, Melbourne Australia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top Area -->
        <!-- Start Footer Bottom Area -->
        <section class="footer-bottom-area">
            <div class="container">
                <div class="copy-right">
                    <p>Copyright <i class="bx bx-copyright"></i>2022 Angelus T Blog.  Designed By <a href="https://angelustaylor.com/" target="blank"> Angelus T Dev</a></p>
                </div>
            </div>
        </section>
        <!-- End Footer Bottom Area -->
    </footer>
    <!-- End Footer Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
        <i class='bx bx-chevrons-up'></i>
    </div>
    <!-- End Go Top Area -->

    <!-- Start tinymce Script -->
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'a11ychecker advcode casechange export formatpainter image linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table image',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Angelus Taylor',
        });
    </script>
    <!-- End tinymce Script -->

    <!-- Jquery Min JS -->
    <script src="~/js/jquery.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Meanmenu Min JS -->
    <script src="~/js/meanmenu.min.js"></script>
    <!-- Wow Min JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Owl Magnific Min JS -->
    <script src="~/js/magnific-popup.min.js"></script>
    <!-- Nice Select Min JS -->
    <script src="~/js/nice-select.min.js"></script>
    <!-- SummerNote JS -->
    <script src="~/js/summernote-bs4.min.js"></script>
    <!-- Sweet alert JS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS -->
    <script src="~/js/custom.js"></script>


    <!-- Scripts Render file-->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
