@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-lg-6 m-auto">
            <a class="nav-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </div>

        <div class="col-lg-6 m-auto">
            <form class="form-inline nav-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    }
    else
    {
        <di class="row">
            <div class="col-lg-2 align-self-end">
                <a class="nav-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
            <div class="col-lg-2 align-self-center">
                <a class="nav-item " asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </di>
    }
</div>
