@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<!-- Start Reset Password Form -->
<div class="user-area-all-style sign-up-area p-4">
    <div class="container">
        <div class="contact-form-action text-center">

            <h1>@ViewData["Title"]</h1>
            <h3>Please fill out the from bellow.</h3>
            <hr />

            <form method="post">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="default-btn btn-two" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Reset Password Form -->

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
